*{
    margin:0;
    padding:0;
}
body { 
    padding-top: 70px; 
}

.content{
    margin: 5rem;
}

:root {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(226, 0, 116);
}