footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #23272A;
    color: #f2f2f2;
    text-align: center;
  }

  /* unvisited link */
footer a:link {
  color: rgb(188,0,0);
}

/* visited link */
footer a:visited {
  color: rgb(188,0,0);
}

/* mouse over link */
footer a:hover {
  color: rgb(188,0,0);
}

/* selected link */
footer a:active {
  color: rgb(188,0,0);
}